* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(380px, 1fr));
  gap: 45px;
  width: 100%;
  max-width: 1240px;
  margin: auto;
  grid-template-rows: masonry;
}
.image img {
  border-radius: 16px;
  width: 100%;
}
